/admin_panel
/config.php
/db_connect.php
/debug_log.txt
/gemini_api_key.php
/nothing.html
/nothing2.html
/phpmailer
/process_purchase.php
/process_recharge.php
/save_steps.php
/save_token.php
/secret_keys
/send_notification.php
/test_fcm.php
/test_path.php